extends layouts/default

block content
    div.sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(data-ui-view='sidebar' role='navigation')
    div.main-content.col-xs-12.col-sm-9(data-ui-view='main-content')
